html,
body,
#root {
    height: 100%;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
}

.required::after {
    display: inline-block;
    margin-inline-start: 4px;
    color: #ff4d4f;
    font-size: 14px;
    line-height: 1;
    content: '*';
}

/* 对于 Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* 对于 Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}
